#friends-display-link {
  display: block;
  text-align: center;
  padding: 13px 0px;
  background-color: #fafafa;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -15px; /*screen header에서 margin-bottom 15px
  를 줘서 꼴보기 싫어서 -15px를 부여*/
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__Channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__Channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0,0,0,0.6);
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
  font-size: 12px;
}
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;/*마우스에 걸리지 않게 빠지는 효과*/
  }
}
#splash-screen {
  background-color: var(--yellow);
  position:absolute;
  height:100vh;
  width:100vw;
  top:0;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  animation-delay: 1.5s;
}