#friends-display-link {
  display: block;
  text-align: center;
  padding: 13px 0px;
  background-color: #fafafa;
  font-size: 18px;
  margin-bottom: 10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}
.friends__screen {
  padding: 0px var(--horizontal-space);
}
